body {
    padding-top: 50px;
    padding-bottom: 20px;
    //background-color:aliceblue;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#photo-search {
    min-width: 100%;
    height: 50px;
    border: none;
    font-size: x-large; 
}

#photo-search-group {
    opacity: 0.6; 
    color: white;
    margin-bottom: 2%;
    margin-top: 2%;
    border: none 1px;
}

#photos-display {
    position: relative; 
}

img.responsive-image:hover {
    -webkit-filter: grayscale(0%);
    -webkit-transition: .5s ease-in-out;
    -moz-filter: grayscale(0%);
    -moz-transition: .5s ease-in-out;
    -o-filter: grayscale(0%);
    -o-transition: .5s ease-in-out;
    filter: grayscale(0%);
}

img.responsive-image {
    max-height: 200px; 
    max-width: 200px;
    padding-right: 2px;
    padding-bottom: 2px;
    -webkit-filter: grayscale(100%);
    -webkit-transition: .5s ease-in-out;
    -moz-filter: grayscale(100%); 
    -moz-transition: .5s ease-in-out;
    -o-filter: grayscale(100%); 
    -o-transition: .5s ease-in-out;
    filter: grayscale(100%);
}