<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
 
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IPhotoStudioService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:2112/PhotoStudio" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPhotoStudioService" contract="PhotoStudioWcfService.IPhotoStudioService" name="BasicHttpBinding_IPhotoStudioService" />
    </client>
  </system.serviceModel>
  
</configuration>