@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Photo Studio</h1>
    <p Welcome to the best photo studio / profing app ever built!</p>
    <p><a href="http://adir.photography" class="btn btn-primary btn-lg">See some photos &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Enjoy</h2>
        <p>
            Enjoy a variety of wonderful photos from around the world.  
        </p>
        <p><a class="btn btn-default" href=@Url.Action("Photos", "Index")>View photos &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Order</h2>
        <p>You liked a photo, great! Now you can order a print - big, small, poster / canvas. We will deliver the photo to you door.</p>
        <p><a class="btn btn-default" href=@Url.Action("Photos", "Order")>Order prints &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Track</h2>
        <p>Check the status of your order, and get a delivery time estimation</p>
        <p><a class="btn btn-default" href=@Url.Action("Orders", "Index")>Track order &raquo;</a></p>
    </div>
</div>