@model IEnumerable<Website.Models.Photo>

@{
    foreach (var photo in Model)
    {
        <a href='@Url.Action("Details", "Photos", new { photo.Id })'>
            <img src='@Url.Content("~/Content/Photos/thumbs/" + photo.Name)' class="responsive-image"/>
        </a>
    
        @*<img src="Content/Photos/Thumbs/@photo.Name" />
        <p>@Html.ActionLink(photo.Name, "Details", "Photos", new { photo.Id }, null)</p>*@
    }
}


