
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Photo store</h2>

<div class="row">
    <div class="col-md-12">
        <div class="input-group" id="photo-search-group">
            <span class="input-group-addon glyphicon glyphicon-search"></span>
            @Html.TextBox("photo-search", null, new { @class = "form-control", placeholder = "Search" })
        </div>
        
    </div> 
</div>