@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Photo store</h2>

<div class="row">
    <div class="col-md-12">
        <div class="col-md-12">
            <div id="photo-search-group" class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                @Html.TextBox("photo-search", null, new { @class = "form-control", placeholder = "Search" })
            </div>
        </div>
    </div>
</div>
